@media (max-width: 1199px) {
	html {
		font-size: 8px;
	}
}
@media (max-width: 991px) {
	html {
		font-size: 7px;
	}
	.visible-lg{
		display: none;

	}
	.m-menu-link{
		display: block;
		color: #fff;	
		font-size: 3rem;
	}
	.get-started-btn{
		margin: 0 auto;
	}
	.price-tags{
		flex-direction: column;
	}
	.price-tag{
		width: 90%;
		margin: 2rem auto;
	}
	.footer-menu{
		display: none;
		
	}
	.footer{
		justify-content: center;
	}
	.social-links a{
		font-size: 4rem;
	}
	.legal{
		flex-direction: column;
		padding-bottom: 5rem;
	}
}
.social-links {
	padding-top: 3rem;
}
}